<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseSbrfUrl_Test" value="https://3dsec.sberbank.ru/payment/rest"/>
    <add key="BaseSbrfUrl_Prod" value="https://securepayments.sberbank.ru/payment/rest"/>
    <add key="SbrfUsername_Prod" value="value"/>
    <add key="SbrfPassword_Prod" value="value"/>
    <add key="SbrfUsername_Test" value="value"/>
    <add key="SbrfPassword_Test" value="value"/>
  </appSettings>
</configuration>