<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="e:\nlog_log.txt" 
      internalLogLevel="Trace">

    <targets>
      <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
      <target name="file" xsi:type="File" layout="${longdate} | ${level} | ${logger} | ${message} | End Message!" fileName="${basedir}/logs/logfile.txt"/>
      <target name="errorFile" xsi:type="File" fileName="${basedir}/logs/CampsApi_error_${shortdate}.log" layout="${longdate}|${exception:format=toString,stacktrace:innerFormat=toString,stacktrace:maxInnerExceptionLevel=10}"/>
    </targets>
 
    <rules>
      <logger name="*" minlevel="Trace" writeTo="TcpOutlet" />
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile"/>
    </rules>
  
</nlog>